<a class="main" href="/">Main site</a>

<p>Discoverer: <%= @detection.discoverer %></p>
<p>Observation Type: <%= @detection.observation_type%></p>
<p>Planet: <%= @detection.planet %></p>
<p>Planet Type: <%= @detection.type %></p>
<p>Habitable: <%= @detection.habitable %></p>
<p>Mass: <%= @detection.mass %></p>
<p>Discovery date: <%= @detection.discovery %></p>