<a class="main" href="/">Main site</a>

<form method="post" action="/astronomers/<%= @astronomer.id %>">
<br>

<label for="discoverer">Full name of a observatory or an astronomer:</label>
<input type="text" id="discoverer" name="discoverer" value="<%= @astronomer.discoverer %>"/>
<br>
<br>

<label for="observation_type">Select type of observation:</label>
<select id="observation_type" name="observation_type">
  <option <%= "selected" if (@astronomer.observation_type == "Doppler spectroscopy") %> value="Doppler Spectroscopy">Doppler spectroscopy</option>
  <option <%= "selected" if (@astronomer.observation_type == "Photometry/transit") %> value="Photometry/transit">Photometry/Transit</option>
  <option <%= "selected" if (@astronomer.observation_type == "Infrared Wavelengths") %> value="Infrared Wavelengths">Infrared wavelengths</option>
  <option <%= "selected" if (@astronomer.observation_type == "Microlensing") %> value="Microlensing">Micolensing</option>
  <option <%= "selected" if (@astronomer.observation_type == "Visible Wavelengths") %> value="Visible Wavelengths">Visible wavelengths</option>
  <option <%= "selected" if (@astronomer.observation_type == "Ultraviolet Wavelengths") %> value="Ultraviolet Wavelengths">Ultraviolet wavelengths</option>
</select>
<br>
<br>

<input class="submit" type="submit" value="Update"/>
</form>